include icon

mixin footer
  footer 
    a(
      href="https://www.instagram.com/echariotracing" 
      target="_blank" 
      title="Find us on Instagram!"
    )
      +icon("brands", "instagram", 35)
    a(
      href="https://www.facebook.com/profile.php?id=100082697427832" 
      target="_blank" 
      title="Find us on Facebook!"
    )
      +icon("brands", "facebook", 32)
    a(
      href="mailto:jasperhaward@gmail.com" 
      target="_blank" 
      title="Email us!"
    )
      +icon("solid", "envelope", 35)